<% if @shares.any? %>
	<% @shares.each do |share| %>
		<h3><%= share.title %></h3>
		<%= image_tag share.picture.url(:medium), class: 'uploaded-pic' %>
	<% end %>
<% else %>
 No shares
<% end %>

<%= link_to 'New share', new_share_path %>
<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Register', new_user_registration_path %>